{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "rules": {
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/no-did-update-set-state": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-useless-escape": "off",
    "no-param-reassign": "off",
    "max-len": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-shadow": "off",
    "quote-props": "off",
    "react/prop-types": [1, {"ignore": ["location", "user", "setUser", "match", "history", "children"]}],
    "camelcase": "off",
    "class-methods-use-this": "off",
    "no-console": [1, {"allow": ["error"] }],
    "react/prefer-stateless-function": "off"
  }
}